@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/fonts/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}

body {
  @apply bg-cultured font-poppins 
}